$heading-font-size: 1.2em;
$no-existing-sources-font-size: 1.3em;
$no-existing-sources-text-color: #a9a9a9;

.display-none {
    display: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.esri-layer-picker-config {
    overflow: scroll;
    padding: 20px;

    .esri-layer-picker-config__flex-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .esri-layer-picker-config__dropdown-layer {
        @extend .noselect;
        cursor: pointer;

        &:hover {
            background-color: #d8d8d8;
            font-weight: bold;
            border-radius: 5px;
        }
    }

    .esri-layer-picker-config__selectable-layer{
        @extend .noselect;
        cursor: pointer;

        padding-left: 10px;
        padding-right: 10px;

        &:hover {
            background-color: #c3edff;
            font-weight: bold;
            border-radius: 5px;
        }
    }

    // .esri-layer-picker-config__flex-layer-row > * {
    //     display: inline;
    // }

    header {
        font-weight: bold;
        font-size: 20px;
        margin: 10px;
    }

    label {
        margin: 0px;
    }

    .esri-layer-picker-config__sublayer-display {
        display: flex;
        flex-direction: column;
        margin-left: 45px;
    }

    .esri-layer-picker-config__radio-btns{
        cursor: pointer;
    }
}

.esri-search-config--selected-item {
    background-color: #a9a9a9;
    color: #fff;
}

.esri-search-config {
    box-sizing: border-box;
    padding: 1% 0.5%;
    position: relative;

    .esri-search-config__config-container {
        max-height: 90vh;
    }

    .esri-search-config__btn-container {
        position: relative;

        .esri-search-config__btn-group {
            position: absolute;
            right: 1vw;
            white-space: nowrap;
        }

        .esri-search-config__btn {
            margin: 2%;
        }
    }

    .esri-search-config__heading {
        font-size: $heading-font-size;
    }

    .esri-search-config__search-field-dropdown {
        display: inline-block;
        width: 87%;
    }

    .esri-search-config__add-search-field-button {
        margin-left: 2%;
    }

    .esri-search-config__label {
        display: inline-block;
        user-select: none;
        margin: 1%;
    }

    .esri-search-config__close-outfield {
        background-color: transparent;
        border: none;
        color: #fff;
        padding: 0;
    }

    .esri-search-config--outField:hover {
        cursor: pointer;
    }

    .esri-search-config__table-width-fix {
        width: 100%;
    }

    .esri-search-config__source-list-table {
        width: 100%;
        display: block;
        max-height: 75vh;
        border-collapse: collapse;
        margin-bottom: 3%;

        .esri-search-config__search-source-item {
            transition: background-color opacity 100ms linear;
            transition-property: background-color opacity;
            transition-duration: 100ms;
            transition-timing-function: linear;
            transition-delay: initial;
        }

        .esri-search-config__search-source-item:hover {
            cursor: move;
            background-color: #e6e6e6;
        }

        .esri-search-config__source-list-type {
            width: 5%;
        }

        .esri-search-config__source-list-source-name {
            width: 50%;
        }

        .esri-search-config__source-item-warning {
            position: relative;
            margin-left: 5px;
        }

        .esri-search-config__source-name {
            width: 17vw;
        }

        .esri-search-config__source-list-edit {
            width: 20%;
        }

        .esri-search-config__source-list-delete {
            width: 20%;
        }

        .esri-search-config__center {
            text-align: center;
        }

        .esri-search-config__edit-delete {
            width: 90%;
        }
    }

    .esri-search-config__source-list-warning {
        position: absolute;

        bottom: 0;
        width: 92%;
    }

    .esri-search-config__no-existing-sources {
        text-align: center;
        font-size: $no-existing-sources-font-size;
        color: $no-existing-sources-text-color;
    }

    .esri-search-config__add-source-list-item-container,
    .esri-search-config__add-existing-source-list {
        padding-left: 0;
    }

    .esri-search-config__add-source-list-item,
    .esri-search-config__add-existing-source-item,
    .esri-search-config__existing-source-item {
        list-style-type: none;
        font-size: 1.1em;
        padding: 1% 2%;
    }

    .esri-search-config__add-source-list-item:hover,
    .esri-search-config__existing-source-item:hover {
        cursor: pointer;
    }

    .esri-search-config__add-source-option {
        display: inline-block;
        margin-right: 5%;
    }

    .esri-search-config__add-locator-portal-list {
        list-style-type: none;
        padding-left: 0;
    }

    .esri-search-config__edit-config-panel {
        max-height: 90vh;
        overflow-x: hidden;
    }

    .esri-search-config__slider-container {
        display: inline-block;
        width: 96%;
        margin-left: 4%;
    }

    .esri-search-config__slider {
        width: 90%;
    }

    .esri-search-config__country-code-input {
        width: 40%;
    }

    .esri-search-config__max-suggestions-container,
    .esri-search-config__max-results-container {
        display: inline-block;
        width: 50%;
    }

    .esri-search-config__max-suggestions,
    .esri-search-config__max-results {
        width: 90%;
    }

    .esri-search-config__input-container {
        display: flex;
        align-items: center;
    }

    .esri-search-config__inline-block-input {
        display: inline-block;
    }

    .esri-search-config__input {
        width: 100%;
    }

    .esri-search-config__question-container {
        display: inline-block;
        width: 7%;
        text-align: center;
    }

    .esri-search-config__search-fields-container {
        white-space: nowrap;
    }

    .esri-search-config__search-field-alert {
        margin-top: 1vh;
    }

    .esri-search-config__dropdown {
        display: block;
        width: 100%;
    }

    .esri-search-config__slider-text-value {
        font-weight: bold;
        color: #007ac2;
    }

    .esri-search-config__search-field-text {
        width: 93%;
        white-space: nowrap;
        display: inline-block;
    }

    .esri-search-config__search-field-arrow {
        display: inline-block;
        width: 7%;
        background-color: #fff;
        vertical-align: top;
    }
}

.esri-search-config--over {
    opacity: 0.25;
}

html[dir="rtl"] {
    .esri-search-config .esri-search-config__add-source-list-item-container {
        padding-right: 0;
    }

    .esri-search-config__add-source-option {
        margin-right: 0;
    }

    .esri-search-config__add-existing-source-list {
        padding-right: 0;
    }
}
